In [1]:
import pandas as pd
import json
import re

In [2]:
with open('data/store.json', 'r', encoding='utf8') as f:
    data = json.load(f)
    df = pd.DataFrame.from_dict(data, orient='index')

df.head()

,text_name,text_tin,text_father,text_mother,text_current_addr,text_permanent_addr,text_shown,text_paid,text_net_income,cert_name,cert_tin,cert_father,cert_mother,cert_current_addr,cert_permanent_addr,cert_summary,slip_name,slip_nid,slip_shown,slip_paid
"1,109,মশিউর রহমান.txt",moshiur rahma pr,251976423191 |,ataher uddin a,reheria ahaniegh stihaas ee a ibe “4,4.a) Current Address : 5 No W: : ; f Hii 4.b) ...,4.b) Permanent Address : Sif Nord ii sie ut as...,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,109,মোঃ অলি উল্লাহ.txt",md. oli ullah,md a rashid tin 8 | ojs|7{8,,,,,"total income shown: 8,00,000 taka\n","total tax paid: 45,000 taka\n",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"1,109,মোঃ জামাল হোসাইন.txt",md. jamal hossain,466275484177,md. moslem ali khan,aleya begum,"4.a) Current Address : 10/1, Nasiruddin , shar...","4,.b) Permanent Address : Khanbari, Vill: Jali...","2025-2026, shown total income 5,000 bdt, net w...","total tax paid: 5,000 taka\n",,md. jamal hossain,466275484177,md. moslem ali khan,aleya begum,"Current Address : 10/1, Nasiruddin , shardar l...","Permanent Address - Khanbari, Vill: Jaliaghata...","2025-2026, Shown Total Income 5,000 BDT, Net W...",md. jamal hossain,3734087442,"5,000 taka","5,000 taka"
"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",md. jahangir hossain,796586650941,abdul majidtin 7) 9 6'5 | & | 6/6) 5 | o | 9 |...,,,,"total income shown: 4,71,500 taka\n","total tax paid: 7,150 taka\n",,,796586650941,,,,,"Year 2025-2026, Shown Total Income 4,71,500 BD...",md. jahangir hossain,9550678214,"4,71,500 taka","7,150 taka"
"1,109,মোঃ মুহিব্বুল্যাহ.txt",md. muhibbullah,248901662600,md. abdul mazid howlader tin |2|4|8|9|0|1[6]6|...,,"4) Current Address ; Village: Pachim Dhupati,,...",4) Permanent Address : Village: Pachim Dhupati...,le total income shown in return (si. no. 11 of...,", advance tax paid (attach proof) a f\n",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.isna().sum()

text_name                 0
text_tin                  0
text_father               0
text_mother               0
text_current_addr         0
text_permanent_addr       0
text_shown                0
text_paid                 0
text_net_income           0
cert_name              1148
cert_tin               1148
cert_father            1148
cert_mother            1148
cert_current_addr      1148
cert_permanent_addr    1148
cert_summary           1148
slip_name              1648
slip_nid               1648
slip_shown             1648
slip_paid              1648
dtype: int64

In [4]:
df.to_csv('data/data_unclean.csv')

In [3]:
dfc = pd.DataFrame()

In [10]:
def get_name_bn(row):
    name = row.name.replace(',', '').replace('.txt', '')
    name = re.sub(r'\d+', '', name)
    return name

dfc['name_bn'] = df.apply(get_name_bn, axis=1)
dfc.head()

                                                 name_bn
1,109,মশিউর রহমান.txt                        মশিউর রহমান
1,109,মোঃ অলি উল্লাহ.txt                মোঃ অলি উল্লাহ
1,109,মোঃ জামাল হোসাইন.txt          মোঃ জামাল হোসাইন
1,109,মোঃ জাহাঙ্গীর হোসাইন.txt  মোঃ জাহাঙ্গীর হোসাইন
1,109,মোঃ মুহিব্বুল্যাহ.txt          মোঃ মুহিব্বুল্যাহ

In [12]:
dfc['zillaID'] = df.apply(lambda row: row.name.split(',')[0], axis=1)
dfc['constituencyID'] = df.apply(lambda row: row.name.split(',')[1], axis=1)
dfc.head()

,name_bn,zillaID,constituencyID
"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109
"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109
"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109
"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109
"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109

In [16]:
def get_text_tin(x):
    matches = re.findall('\d+', x)
    for i, match in enumerate(matches):
        if len(match) == 12:
            return match
        if len(match) == 10:
            if i+1 < len(matches):
                if matches[i+1] and len(matches[i+1]) == 2:
                    return match + matches[i+1]
            if i+2 < len(matches):
                if matches[i+1] and len(matches[i+1]) == 1:
                    if matches[i+2] and len(matches[i+2]) == 1:
                        return match + matches[i+1] + matches[i+2]
    joined = ''.join(matches)
    if len(joined) == 12 or len(joined) == 10:
        return joined
    return None

dfc['text_tin'] = df['text_tin'].apply(get_text_tin)
dfc.head()

,name_bn,zillaID,constituencyID,text_tin
"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,251976423191
"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,None
"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,466275484177
"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,796586650941
"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,248901662600

In [18]:
def get_text_father(x):
    if ' tin ' in x:
        end = x.index(' tin ')
        x = x[:end]
    x = re.sub(r'[^a-z]+', ' ', x)
    if x.strip() == '':
        return None
    return x

dfc['text_father'] = df['text_father'].apply(get_text_father)
dfc.head()

,name_bn,zillaID,constituencyID,text_tin,text_father
"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,251976423191,ataher uddin a
"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,None,None
"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,466275484177,md moslem ali khan
"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,796586650941,abdul majidtin o isolemnly declare
"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,248901662600,md abdul mazid howlader

In [19]:
def get_text_mother(x):
    if ' tin ' in x:
        return None
    x = re.sub(r'[^a-z]+', ' ', x)
    if x.strip() == '':
        return None
    return x

dfc['text_mother'] = df['text_mother'].apply(get_text_mother)
dfc.head()

,name_bn,zillaID,constituencyID,text_tin,text_father,text_mother
"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,251976423191,ataher uddin a,reheria ahaniegh stihaas ee a ibe
"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,None,None,None
"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,466275484177,md moslem ali khan,aleya begum
"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,796586650941,abdul majidtin o isolemnly declare,None
"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,248901662600,md abdul mazid howlader,None

In [23]:
def get_text_current_addr(x):
    x = x.lower()
    if 'permanent' in x:
        x = x.split('permanent')[0]
    x = x.replace('current', '').replace('permanent', '').replace('address', '')
    x = re.sub(r'4.{0,2}b.{0,2}\)', '', x)
    x = re.sub(r'4.{0,2}a.{0,2}\)', '', x)
    x = re.sub(r'^\W+', '', x)
    return x.strip()

dfc['text_current_addr'] = df['text_current_addr'].apply(get_text_current_addr)
dfc.head()

,name_bn,zillaID,constituencyID,text_tin,text_father,text_mother,text_current_addr
"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,251976423191,ataher uddin a,reheria ahaniegh stihaas ee a ibe,5 no w: : ; f hii
"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,None,None,None,
"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,466275484177,md moslem ali khan,aleya begum,"10/1, nasiruddin , shardar lane, sutrapur, dhaka"
"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,796586650941,abdul majidtin o isolemnly declare,None,
"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,248901662600,md abdul mazid howlader,None,"4) ; village: pachim dhupati,, post: purba d..."

In [24]:
def get_text_permanent_addr(x):
    x = x.lower()
    x = x.replace('permanent', '').replace('address', '')
    x = re.sub(r'4.{0,2}b.{0,2}\)', '', x)
    x = re.sub(r'4.{0,2}a.{0,2}\)', '', x)
    x = re.sub(r'^\W+', '', x)
    return x.strip()

dfc['text_permanent_addr'] = df['text_permanent_addr'].apply(get_text_permanent_addr)
dfc.head()

,name_bn,zillaID,constituencyID,text_tin,text_father,text_mother,text_current_addr,text_permanent_addr
"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,251976423191,ataher uddin a,reheria ahaniegh stihaas ee a ibe,5 no w: : ; f hii,"sif nord ii sie ut asi, l- po : 8710, banglade..."
"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,None,None,None,,
"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,466275484177,md moslem ali khan,aleya begum,"10/1, nasiruddin , shardar lane, sutrapur, dhaka","khanbari, vill: jaliaghata, p.o: rupdon, p.s: ..."
"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,796586650941,abdul majidtin o isolemnly declare,None,,
"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,248901662600,md abdul mazid howlader,None,"4) ; village: pachim dhupati,, post: purba d...","4) : village: pachim dhupati,, post: purba d..."

In [25]:
def get_text_shown(x):
    x = re.sub(r'[\.\,\s]+', '', x)
    if 'shown' not in x:
        return None
    shown_idx = x.index('shown')
    target_idx = None
    target_match = ''
    matches = re.findall('\d+', x)
    for match in matches:
        idx = x.index(match)
        if len(match) > 3 and shown_idx < idx:
            if not target_idx:
                target_idx = idx
                target_match = match
            else:
                if (idx-shown_idx) < (target_idx-shown_idx):
                    target_idx = idx
                    target_match = match
    return target_match

dfc['text_shown'] = df['text_shown'].apply(get_text_shown)
dfc.head()

,name_bn,zillaID,constituencyID,text_tin,text_father,text_mother,text_current_addr,text_permanent_addr,text_shown
"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,251976423191,ataher uddin a,reheria ahaniegh stihaas ee a ibe,5 no w: : ; f hii,"sif nord ii sie ut asi, l- po : 8710, banglade...",None
"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,None,None,None,,,800000
"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,466275484177,md moslem ali khan,aleya begum,"10/1, nasiruddin , shardar lane, sutrapur, dhaka","khanbari, vill: jaliaghata, p.o: rupdon, p.s: ...",5000
"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,796586650941,abdul majidtin o isolemnly declare,None,,,471500
"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,248901662600,md abdul mazid howlader,None,"4) ; village: pachim dhupati,, post: purba d...","4) : village: pachim dhupati,, post: purba d...",497557

In [27]:
def get_text_wealth(x):
    x = re.sub(r'[\.\,\s]+', '', x)
    if 'wealth' not in x:
        return None
    wealth_idx = x.index('wealth')
    target_idx = None
    target_match = ''
    matches = re.findall('\d+', x)
    for match in matches:
        idx = x.index(match)
        if len(match) > 3 and wealth_idx < idx:
            if not target_idx:
                target_idx = idx
                target_match = match
            else:
                if (idx-wealth_idx) < (target_idx-wealth_idx):
                    target_idx = idx
                    target_match = match
    return target_match

dfc['text_wealth'] = df['text_shown'].apply(get_text_wealth)
dfc.head()

,name_bn,zillaID,constituencyID,text_tin,text_father,text_mother,text_current_addr,text_permanent_addr,text_shown,text_wealth
"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,251976423191,ataher uddin a,reheria ahaniegh stihaas ee a ibe,5 no w: : ; f hii,"sif nord ii sie ut asi, l- po : 8710, banglade...",None,None
"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,None,None,None,,,800000,None
"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,466275484177,md moslem ali khan,aleya begum,"10/1, nasiruddin , shardar lane, sutrapur, dhaka","khanbari, vill: jaliaghata, p.o: rupdon, p.s: ...",5000,713000
"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,796586650941,abdul majidtin o isolemnly declare,None,,,471500,None
"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,248901662600,md abdul mazid howlader,None,"4) ; village: pachim dhupati,, post: purba d...","4) : village: pachim dhupati,, post: purba d...",497557,None

In [29]:
def get_text_paid(x):
    x = re.sub(r'[\.\,\s]+', '', x)
    if 'paid' not in x:
        return None
    paid_idx = x.index('paid')
    target_idx = None
    target_match = None
    matches = re.findall('\d+', x)
    for match in matches:
        idx = x.index(match)
        if len(match) > 3 and paid_idx < idx:
            if not target_idx:
                target_idx = idx
                target_match = match
            else:
                if (idx-paid_idx) < (target_idx-paid_idx):
                    target_idx = idx
                    target_match = match
    return target_match

dfc['text_paid'] = df['text_paid'].apply(get_text_paid)
dfc.head()

,name_bn,zillaID,constituencyID,text_tin,text_father,text_mother,text_current_addr,text_permanent_addr,text_shown,text_wealth,text_paid
"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,251976423191,ataher uddin a,reheria ahaniegh stihaas ee a ibe,5 no w: : ; f hii,"sif nord ii sie ut asi, l- po : 8710, banglade...",None,None,None
"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,None,None,None,,,800000,None,45000
"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,466275484177,md moslem ali khan,aleya begum,"10/1, nasiruddin , shardar lane, sutrapur, dhaka","khanbari, vill: jaliaghata, p.o: rupdon, p.s: ...",5000,713000,5000
"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,796586650941,abdul majidtin o isolemnly declare,None,,,471500,None,7150
"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,248901662600,md abdul mazid howlader,None,"4) ; village: pachim dhupati,, post: purba d...","4) : village: pachim dhupati,, post: purba d...",497557,None,None