In [1]:
import pandas as pd

In [2]:
dfcan = pd.read_csv('data/candidates.csv')
dfcan.head()

,zillaID,constituencyID,name,img,party,affidavit,election_fund,tax_return
0,4,125,মোঃ সাব্বির আহমেদ,https://onss.ecs.gov.bd/document-service/api/v...,স্বতন্ত্র,মোঃ সাব্বির আহমেদ_হলফনামা | https://onss.ecs.g...,মোঃ সাব্বির আহমেদ_নির্বাচনী ব্যয় ও ব্যক্তিগত স...,মোঃ সাব্বির আহমেদ_আয়কর রিটার্ন | https://onss....
1,4,125,মুহাম্মদ মুস্তাফিজুর রহমান,https://onss.ecs.gov.bd/document-service/api/v...,বাংলাদেশ লেবার পার্টি,মুহাম্মদ মুস্তাফিজুর রহমান_হলফনামা | https://o...,মুহাম্মদ মুস্তাফিজুর রহমান_নির্বাচনী ব্যয় ও ব্...,মুহাম্মদ মুস্তাফিজুর রহমান_আয়কর রিটার্ন | http...
2,4,125,মাহমুদা আলম মিতু,https://onss.ecs.gov.bd/document-service/api/v...,জাতীয় নাগরিক পার্টি-এনসিপি,মাহমুদা আলম মিতু_হলফনামা | https://onss.ecs.go...,মাহমুদা আলম মিতু_নির্বাচনী ব্যয় ও ব্যক্তিগত সম...,মাহমুদা আলম মিতু_আয়কর রিটার্ন | https://onss.e...
3,4,125,"এম, মঈন আলম ফিরোজী",https://onss.ecs.gov.bd/document-service/api/v...,স্বতন্ত্র,"এম, মঈন আলম ফিরোজী_হলফনামা | https://onss.ecs....","এম, মঈন আলম ফিরোজী_নির্বাচনী ব্যয় ও ব্যক্তিগত ...","এম, মঈন আলম ফিরোজী_আয়কর রিটার্ন | https://onss..."
4,4,125,রফিকুল ইসলাম জামাল,https://onss.ecs.gov.bd/document-service/api/v...,বাংলাদেশ জাতীয়তাবাদী দল - বি.এন.পি,রফিকুল ইসলাম জামাল_হলফনামা | https://onss.ecs....,রফিকুল ইসলাম জামাল_নির্বাচনী ব্যয় ও ব্যক্তিগত ...,রফিকুল ইসলাম জামাল_আয়কর রিটার্ন | https://onss...

In [4]:
dfp = dfcan.party.value_counts().reset_index()
dfp.columns = ['party', 'counts']
dfp.head()

                                party  counts
0                           স্বতন্ত্র     455
1  বাংলাদেশ জাতীয়তাবাদী দল - বি.এন.পি     342
2            বাংলাদেশ জামায়াতে ইসলামী     262
3             ইসলামী আন্দোলন বাংলাদেশ     249
4                        জাতীয় পার্টি     173

In [6]:
dfp.to_csv('data/party.csv', index=False)

In [13]:
dfp = pd.read_csv('data/party-en.csv')
dfp.head()

                                party  counts                   party_en
0                           স্বতন্ত্র     455                Independent
1  বাংলাদেশ জাতীয়তাবাদী দল - বি.এন.পি     342                        BNP
2            বাংলাদেশ জামায়াতে ইসলামী     262                     Jamaat
3             ইসলামী আন্দোলন বাংলাদেশ     249  Islami Andolan Bangladesh
4                        জাতীয় পার্টি     173                       JaPa

In [8]:
dfclean = pd.read_csv('data/data-clean-alternative.csv')
dfclean.head()

,Unnamed: 0,name_bn,zillaID,constituencyID,tin,father,mother,nid,current_addr,permanent_addr,shown,paid,wealth,text_name,cert_name,slip_name
0,"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,2.519764e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,NaN,NaN,NaN,2.802324e+09,NaN,NaN,800000.0,45000.0,NaN,md oli ullah,NaN,NaN
2,"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,4.662755e+11,md moslem ali khan,aleya begum,3.734087e+09,101 nasiruddin shardar lane sutrapur dhaka,khanbari vill jaliaghata po rupdon ps pathorgh...,5000.0,5000.0,713000.0,md jamal hossain,md jamal hossain,md jamal hossain
3,"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,7.965867e+11,abdul maj,ms rabia khatun,9.550678e+09,23 naya paltan flat bc paltan dhaka,badarkhali goiri chonna barguna sadar barguna,471500.0,7150.0,3890900.0,md jahangir hossain,mdjahangir hossain,md jahangir hossain
4,"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,2.489017e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,md muhibbullah as,NaN,NaN

In [9]:
dfclean.reset_index()
dfclean.head()

,Unnamed: 0,name_bn,zillaID,constituencyID,tin,father,mother,nid,current_addr,permanent_addr,shown,paid,wealth,text_name,cert_name,slip_name
0,"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,2.519764e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,NaN,NaN,NaN,2.802324e+09,NaN,NaN,800000.0,45000.0,NaN,md oli ullah,NaN,NaN
2,"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,4.662755e+11,md moslem ali khan,aleya begum,3.734087e+09,101 nasiruddin shardar lane sutrapur dhaka,khanbari vill jaliaghata po rupdon ps pathorgh...,5000.0,5000.0,713000.0,md jamal hossain,md jamal hossain,md jamal hossain
3,"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,7.965867e+11,abdul maj,ms rabia khatun,9.550678e+09,23 naya paltan flat bc paltan dhaka,badarkhali goiri chonna barguna sadar barguna,471500.0,7150.0,3890900.0,md jahangir hossain,mdjahangir hossain,md jahangir hossain
4,"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,2.489017e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,md muhibbullah as,NaN,NaN

In [11]:
dfclean = dfclean.rename(columns={'Unnamed: 0': 'filename'})
dfclean.head()

,filename,name_bn,zillaID,constituencyID,tin,father,mother,nid,current_addr,permanent_addr,shown,paid,wealth,text_name,cert_name,slip_name
0,"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,2.519764e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,NaN,NaN,NaN,2.802324e+09,NaN,NaN,800000.0,45000.0,NaN,md oli ullah,NaN,NaN
2,"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,4.662755e+11,md moslem ali khan,aleya begum,3.734087e+09,101 nasiruddin shardar lane sutrapur dhaka,khanbari vill jaliaghata po rupdon ps pathorgh...,5000.0,5000.0,713000.0,md jamal hossain,md jamal hossain,md jamal hossain
3,"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,7.965867e+11,abdul maj,ms rabia khatun,9.550678e+09,23 naya paltan flat bc paltan dhaka,badarkhali goiri chonna barguna sadar barguna,471500.0,7150.0,3890900.0,md jahangir hossain,mdjahangir hossain,md jahangir hossain
4,"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,2.489017e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,md muhibbullah as,NaN,NaN

In [14]:
dfmp = pd.merge(dfcan, dfp, how='left', on='party')
dfmp.head()

,zillaID,constituencyID,name,img,party,affidavit,election_fund,tax_return,counts,party_en
0,4,125,মোঃ সাব্বির আহমেদ,https://onss.ecs.gov.bd/document-service/api/v...,স্বতন্ত্র,মোঃ সাব্বির আহমেদ_হলফনামা | https://onss.ecs.g...,মোঃ সাব্বির আহমেদ_নির্বাচনী ব্যয় ও ব্যক্তিগত স...,মোঃ সাব্বির আহমেদ_আয়কর রিটার্ন | https://onss....,455,Independent
1,4,125,মুহাম্মদ মুস্তাফিজুর রহমান,https://onss.ecs.gov.bd/document-service/api/v...,বাংলাদেশ লেবার পার্টি,মুহাম্মদ মুস্তাফিজুর রহমান_হলফনামা | https://o...,মুহাম্মদ মুস্তাফিজুর রহমান_নির্বাচনী ব্যয় ও ব্...,মুহাম্মদ মুস্তাফিজুর রহমান_আয়কর রিটার্ন | http...,19,Bangladesh Labor Party
2,4,125,মাহমুদা আলম মিতু,https://onss.ecs.gov.bd/document-service/api/v...,জাতীয় নাগরিক পার্টি-এনসিপি,মাহমুদা আলম মিতু_হলফনামা | https://onss.ecs.go...,মাহমুদা আলম মিতু_নির্বাচনী ব্যয় ও ব্যক্তিগত সম...,মাহমুদা আলম মিতু_আয়কর রিটার্ন | https://onss.e...,38,NCP
3,4,125,"এম, মঈন আলম ফিরোজী",https://onss.ecs.gov.bd/document-service/api/v...,স্বতন্ত্র,"এম, মঈন আলম ফিরোজী_হলফনামা | https://onss.ecs....","এম, মঈন আলম ফিরোজী_নির্বাচনী ব্যয় ও ব্যক্তিগত ...","এম, মঈন আলম ফিরোজী_আয়কর রিটার্ন | https://onss...",455,Independent
4,4,125,রফিকুল ইসলাম জামাল,https://onss.ecs.gov.bd/document-service/api/v...,বাংলাদেশ জাতীয়তাবাদী দল - বি.এন.পি,রফিকুল ইসলাম জামাল_হলফনামা | https://onss.ecs....,রফিকুল ইসলাম জামাল_নির্বাচনী ব্যয় ও ব্যক্তিগত ...,রফিকুল ইসলাম জামাল_আয়কর রিটার্ন | https://onss...,342,BNP

In [15]:

def get_filename(row):
    return f"{row['zillaID']},{row['constituencyID']},{row['name']}.txt"

dfmp['filename'] = dfmp.apply(get_filename, axis=1)
dfmp.head()

,zillaID,constituencyID,name,img,party,affidavit,election_fund,tax_return,counts,party_en,filename
0,4,125,মোঃ সাব্বির আহমেদ,https://onss.ecs.gov.bd/document-service/api/v...,স্বতন্ত্র,মোঃ সাব্বির আহমেদ_হলফনামা | https://onss.ecs.g...,মোঃ সাব্বির আহমেদ_নির্বাচনী ব্যয় ও ব্যক্তিগত স...,মোঃ সাব্বির আহমেদ_আয়কর রিটার্ন | https://onss....,455,Independent,"4,125,মোঃ সাব্বির আহমেদ.txt"
1,4,125,মুহাম্মদ মুস্তাফিজুর রহমান,https://onss.ecs.gov.bd/document-service/api/v...,বাংলাদেশ লেবার পার্টি,মুহাম্মদ মুস্তাফিজুর রহমান_হলফনামা | https://o...,মুহাম্মদ মুস্তাফিজুর রহমান_নির্বাচনী ব্যয় ও ব্...,মুহাম্মদ মুস্তাফিজুর রহমান_আয়কর রিটার্ন | http...,19,Bangladesh Labor Party,"4,125,মুহাম্মদ মুস্তাফিজুর রহমান.txt"
2,4,125,মাহমুদা আলম মিতু,https://onss.ecs.gov.bd/document-service/api/v...,জাতীয় নাগরিক পার্টি-এনসিপি,মাহমুদা আলম মিতু_হলফনামা | https://onss.ecs.go...,মাহমুদা আলম মিতু_নির্বাচনী ব্যয় ও ব্যক্তিগত সম...,মাহমুদা আলম মিতু_আয়কর রিটার্ন | https://onss.e...,38,NCP,"4,125,মাহমুদা আলম মিতু.txt"
3,4,125,"এম, মঈন আলম ফিরোজী",https://onss.ecs.gov.bd/document-service/api/v...,স্বতন্ত্র,"এম, মঈন আলম ফিরোজী_হলফনামা | https://onss.ecs....","এম, মঈন আলম ফিরোজী_নির্বাচনী ব্যয় ও ব্যক্তিগত ...","এম, মঈন আলম ফিরোজী_আয়কর রিটার্ন | https://onss...",455,Independent,"4,125,এম, মঈন আলম ফিরোজী.txt"
4,4,125,রফিকুল ইসলাম জামাল,https://onss.ecs.gov.bd/document-service/api/v...,বাংলাদেশ জাতীয়তাবাদী দল - বি.এন.পি,রফিকুল ইসলাম জামাল_হলফনামা | https://onss.ecs....,রফিকুল ইসলাম জামাল_নির্বাচনী ব্যয় ও ব্যক্তিগত ...,রফিকুল ইসলাম জামাল_আয়কর রিটার্ন | https://onss...,342,BNP,"4,125,রফিকুল ইসলাম জামাল.txt"

In [16]:
dfmc = pd.merge(dfclean, dfmp, how='left', on='filename')
dfmc.head()

,filename,name_bn,zillaID_x,constituencyID_x,tin,father,mother,nid,current_addr,permanent_addr,...,zillaID_y,constituencyID_y,name,img,party,affidavit,election_fund,tax_return,counts,party_en
0,"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,2.519764e+11,NaN,NaN,NaN,NaN,NaN,...,1,109,মশিউর রহমান,https://onss.ecs.gov.bd/document-service/api/v...,স্বতন্ত্র,মশিউর রহমান_হলফনামা | https://onss.ecs.gov.bd/...,মশিউর রহমান_নির্বাচনী ব্যয় ও ব্যক্তিগত সম্পদের...,মশিউর রহমান_আয়কর রিটার্ন | https://onss.ecs.go...,455,Independent
1,"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,NaN,NaN,NaN,2.802324e+09,NaN,NaN,...,1,109,মোঃ অলি উল্লাহ,https://onss.ecs.gov.bd/document-service/api/v...,ইসলামী আন্দোলন বাংলাদেশ,মোঃ অলি উল্লাহ_হলফনামা | https://onss.ecs.gov...,মোঃ অলি উল্লাহ_নির্বাচনী ব্যয় ও ব্যক্তিগত সম্...,মোঃ অলি উল্লাহ_আয়কর রিটার্ন | https://onss.ec...,249,Islami Andolan Bangladesh
2,"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,4.662755e+11,md moslem ali khan,aleya begum,3.734087e+09,101 nasiruddin shardar lane sutrapur dhaka,khanbari vill jaliaghata po rupdon ps pathorgh...,...,1,109,মোঃ জামাল হোসাইন,https://onss.ecs.gov.bd/document-service/api/v...,জাতীয় পার্টি - জেপি,মোঃ জামাল হোসাইন_হলফনামা | https://onss.ecs....,মোঃ জামাল হোসাইন_নির্বাচনী ব্যয় ও ব্যক্তিগত ...,মোঃ জামাল হোসাইন_আয়কর রিটার্ন | https://onss...,46,JP (Manju)
3,"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,7.965867e+11,abdul maj,ms rabia khatun,9.550678e+09,23 naya paltan flat bc paltan dhaka,badarkhali goiri chonna barguna sadar barguna,...,1,109,মোঃ জাহাঙ্গীর হোসাইন,https://onss.ecs.gov.bd/document-service/api/v...,খেলাফত মজলিস,মোঃ জাহাঙ্গীর হোসাইন_হলফনামা | https://onss....,মোঃ জাহাঙ্গীর হোসাইন_নির্বাচনী ব্যয় ও ব্যক্ত...,মোঃ জাহাঙ্গীর হোসাইন_আয়কর রিটার্ন | https://...,67,Khelafat Majlish
4,"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,2.489017e+11,NaN,NaN,NaN,NaN,NaN,...,1,109,মোঃ মুহিব্বুল্যাহ,https://onss.ecs.gov.bd/document-service/api/v...,বাংলাদেশ জামায়াতে ইসলামী,মোঃ মুহিব্বুল্যাহ_হলফনামা | https://onss.ecs....,মোঃ মুহিব্বুল্যাহ_নির্বাচনী ব্যয় ও ব্যক্তিগত ...,মোঃ মুহিব্বুল্যাহ_আয়কর রিটার্ন | https://onss...,262,Jamaat

In [17]:
dfmc.columns

Index(['filename', 'name_bn', 'zillaID_x', 'constituencyID_x', 'tin', 'father',
       'mother', 'nid', 'current_addr', 'permanent_addr', 'shown', 'paid',
       'wealth', 'text_name', 'cert_name', 'slip_name', 'zillaID_y',
       'constituencyID_y', 'name', 'img', 'party', 'affidavit',
       'election_fund', 'tax_return', 'counts', 'party_en'],
      dtype='object')

In [18]:
cols_to_keep = [
    'filename', 'name_bn', 'zillaID_x', 'constituencyID_x', 'tin', 'father',
    'mother', 'nid', 'current_addr', 'permanent_addr', 'shown', 'paid',
    'wealth', 'text_name', 'cert_name', 'slip_name', 'party_en'
]

dfmc = dfmc[cols_to_keep]
dfmc.head()

,filename,name_bn,zillaID_x,constituencyID_x,tin,father,mother,nid,current_addr,permanent_addr,shown,paid,wealth,text_name,cert_name,slip_name,party_en
0,"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,2.519764e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Independent
1,"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,NaN,NaN,NaN,2.802324e+09,NaN,NaN,800000.0,45000.0,NaN,md oli ullah,NaN,NaN,Islami Andolan Bangladesh
2,"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,4.662755e+11,md moslem ali khan,aleya begum,3.734087e+09,101 nasiruddin shardar lane sutrapur dhaka,khanbari vill jaliaghata po rupdon ps pathorgh...,5000.0,5000.0,713000.0,md jamal hossain,md jamal hossain,md jamal hossain,JP (Manju)
3,"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,7.965867e+11,abdul maj,ms rabia khatun,9.550678e+09,23 naya paltan flat bc paltan dhaka,badarkhali goiri chonna barguna sadar barguna,471500.0,7150.0,3890900.0,md jahangir hossain,mdjahangir hossain,md jahangir hossain,Khelafat Majlish
4,"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,2.489017e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,md muhibbullah as,NaN,NaN,Jamaat

In [19]:
dfmc = dfmc.rename(columns={'zillaID_x': 'zillaID', 'constituencyID_x': 'constituencyID'})
dfmc.head()

,filename,name_bn,zillaID,constituencyID,tin,father,mother,nid,current_addr,permanent_addr,shown,paid,wealth,text_name,cert_name,slip_name,party_en
0,"1,109,মশিউর রহমান.txt",মশিউর রহমান,1,109,2.519764e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Independent
1,"1,109,মোঃ অলি উল্লাহ.txt",মোঃ অলি উল্লাহ,1,109,NaN,NaN,NaN,2.802324e+09,NaN,NaN,800000.0,45000.0,NaN,md oli ullah,NaN,NaN,Islami Andolan Bangladesh
2,"1,109,মোঃ জামাল হোসাইন.txt",মোঃ জামাল হোসাইন,1,109,4.662755e+11,md moslem ali khan,aleya begum,3.734087e+09,101 nasiruddin shardar lane sutrapur dhaka,khanbari vill jaliaghata po rupdon ps pathorgh...,5000.0,5000.0,713000.0,md jamal hossain,md jamal hossain,md jamal hossain,JP (Manju)
3,"1,109,মোঃ জাহাঙ্গীর হোসাইন.txt",মোঃ জাহাঙ্গীর হোসাইন,1,109,7.965867e+11,abdul maj,ms rabia khatun,9.550678e+09,23 naya paltan flat bc paltan dhaka,badarkhali goiri chonna barguna sadar barguna,471500.0,7150.0,3890900.0,md jahangir hossain,mdjahangir hossain,md jahangir hossain,Khelafat Majlish
4,"1,109,মোঃ মুহিব্বুল্যাহ.txt",মোঃ মুহিব্বুল্যাহ,1,109,2.489017e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,md muhibbullah as,NaN,NaN,Jamaat

In [20]:
dfmc.to_csv('data/data-clean-alternative-final.csv', index=False)